@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: #333;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  margin: 0 auto;
  max-width: 500px;
  overflow: hidden;
  background: #829fd9;
  padding: 0 16px;
  min-height: calc(100vh - 60px);
}

.scrolling-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

/* .scrolling-container::-webkit-scrollbar {
  background: #829fd9;
}

.scrolling-container::-webkit-scrollbar-thumb {
  background-color: #555;
} */

@media only screen and (max-width: 500px) {
  .scrolling-container::-webkit-scrollbar {
    display: none;
    margin-top: 10px;
  }
}

.scrolling-container .scroll-item {
  flex: 0 0 auto;
  margin-right: 10px;
  cursor: pointer;
}

/* .scroll-item {

} */

.news-container {
  padding: 0 16px;
}
